body{
    text-align:center;
}

h1{
    color:red;

}

a{
    color: green;
    margin: 10px;
}

h2 {
    color:orange;
}

h3 {
    color: blue;
}
 
li{
    list-style-position: inside;
}

/* Func */
.renk {
    color: crimson;
}