body {
    margin: 0;
    padding: 0;
}

/* google-img */
.google-img {
    text-align: center;
    margin: 0;
    padding: 0;
}

/* container */
.container {
    width: 1500px;
    height: 750px;
    padding: 20px;
    background-color: white;
    position: relative;
    margin: auto;
    text-align: center;
}

/* search-bar */
.center {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 60px;
    background-color: #EEEEEE;
}

.center p {
    margin: 0;
    padding: 0;
}

/* blue-boxes */
.blue-boxes {
    text-align: center;
}

/* box-1 */
.box-1 {
    list-style: none;
    width: 490px;
    height: 77px;
    float: left;
    margin: 1px;
    background-color: #7ee5da;

}

.box-1 p{
    margin: 0;
    text-align: center;
}

.box-1 li {
    list-style: none;
}

/* box-2 */
.box-2 {
    list-style: none;
    width: 446px;
    height: 77px;
    float: left;
    margin: 1px;
    background-color: #70ccc2;
    overflow:hidden;
}

.box-2 li {
    list-style: none;
    margin: 0;
}

/* box-3 */
.box-3 {
    list-style: none;
    width: 558px;
    height: 77px;
    float: left;
    margin: 1px;
    background-color: #62b3aa;
}

.box-3 p{
    margin: 0;
    text-align: center;
}

.box3 li {
    list-style: none;
}